{% extends 'imagaes/base.html' %}

{% block content %}

        
        <h1>{{ image.title }}</h1>
        <div class="image">
            <img src="{{ image.url }}" alt="">
        </div>
      

{% endblock %}

