
  <a id="delete_{{ image.id }}" href="#">Delete</a>
  <form id="delete_form_{{ image.id }}" 
        method="post" 
        action="{% url 'app:delete_image' image.id %}"
        class="hidden"> 
        {% csrf_token %}
  </form>
  <script>
    $(document).on('click','#delete_{{ image.id }}', function(){
      $('#delete_form_{{ image.id }}').submit();
    });
  </script>

  
