<div>
  {% if user.is_superuser %}
  <form
    action="{% url 'app:approve_comment' image.id comment.id %}"
    method="post"
    role="form"
    class="form-inline"
  >
    {% csrf_token %}
    <input type="submit" value="Approve" class="btn" />
  </form>
  {% endif %}
</div>
