<div> 
  {% if user.is_authenticated %}
    <form action="{% url 'app:upvote' image.id %}" 
    method="post" 
    role="form" 
    class="form-inline float-left">
      {% csrf_token %}
      <input type="submit" value="+" 
      class="btn {{ vote.upvote|yesno:'btn-success, btn-secondary' }}" />
    </form>
    <div class="vote-score">
      <span class="float-left">
        {{ image.vote_score }}
      </span>
    </div>
    <form action="{% url 'app:downvote' image.id %}" 
    method="post" 
    role="form" 
    class="form-inline float-left">
      {% csrf_token %}
      <input type="submit" value="-" 
      class="btn {{ vote.downvote|yesno:'btn-danger, btn-secondary' }}" />
    </form>
  {% endif %}
  </div>